* {
    margin: 0; padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif,'Open Sans';
    font-size: 25px;    
}


.headerTop {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #05022D;

}
.img-logo {
    margin: 12px 0;
}
.navbar {
    padding-right: 200px;
}
.nav-link {
    text-decoration: none;
    font-size: 12px;
    font-weight: 400;
    color: #fff;
}

.header-phone-link {
    color: #fff;
    font-size: 14px;
    text-decoration: none;
}
.header-phone {
    padding-right: 25px;
}
.img-logo {
    margin-right: 300px;
}

.media-link-insta {
    padding: 0 18px;
}

.main {
    background-image: url(img/BGheder.jpg);
    height: 768px;
    background-position: center;
    background-size: cover;
    
}
.header-title {
    color: #fff;
    font-size: 45px;
    font-weight: bold;
    padding-top: 220px;
    padding-left: 670px;
    padding-bottom: 30px;
}
.header-subtitle {
    color: #fff;
    font-size: 25px;
    font-weight: 500;
    line-height: 45px;
    padding-left: 670px;
}

.advantages-title {
    text-align: center;
    padding-top: 140px;
    padding-bottom: 80px;
}
.advantages-content {
    display: flex;
    justify-content: center;
}
.advantages-list {
    font-size: 12px;
    font-weight: 200;
    line-height: 30px;
}
.advantages-list img {
    height: 20px;
    padding-right: 35px;
}
.chek-img img { 
    height: 400px;
    padding-right: 80px;
}
.advantages-list p {
    display: flex;
    align-items: center;
    font-family: 'Open Sans';
    font-size: 14px;
    font-weight: 300;
    line-height: 50px;
}


.cooperate-title {
    text-align: center;
    padding-top: 140px;
    padding-bottom: 100px;
}
.cooperate-content {
    display: flex;
    justify-content: center;
}

.cooperate-side p {
    font-family: 'Open Sans';
    font-size: 14px;
    width: 400px;
    font-weight: 300;
    line-height: 25px;
}
.cooperate-side div {
    display: flex;
    margin-right: 100px;
    margin-bottom: 50px;
}
.cooperate-side img {
    height: 40px;
    padding-right: 50px;
}
.cooperate-side:last-child {
    margin-right: 0;
}
.grow {
    background-image: url(img/bg2.png);
    height: 760px;
    background-position: center;
    background-size: cover;
    padding: 70px 0;
    margin-top: 50px;
    
}
.grow-item {
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    background-color: #100A33;
    margin-bottom: 50px;
    
}
.grow-item h1 {
    color: #fff;
    padding-top: 50px;
    padding-left: 80px;
    padding-right: 80px;
}
.grow-item p {
    color: #fff;
    font-size: 18px;
    font-weight: 400;
    font-family: 'Open Sans';
    padding: 62px 80px;
}
.services {
    padding: 140px 200px 56px 200px;
}
.services h1 {
    text-align: center;
    padding-bottom: 70px;
}
.service-content {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
}
.services-item {
    font-family: 'Open Sans';
    font-size: 17px;
    font-weight: 200;
    background-color: #b798e0b4;
    width: 20%;
    border-radius: 8px;
    margin: 20px 30px;
    padding: 10px;
    text-align: center ;
    display: flex;
    justify-content: center;
    align-items: center;
}



.howto h1 {
    text-align: center;
    margin-top: 80px;
    margin-bottom: 100px;
}
.howto-content {
    display: flex;
    justify-content: center;
    padding-bottom: 150px;
}

.howto-line-keeper {
    display: flex;
    justify-content: center;
}

.howto-line {
    position: relative;
}

.howto-line::before {
    position: absolute;
    content: "";
    background-color: #95E1E1;
    width: 11px;
    height: 97%;

    left: 17px;
}

.howto-line-keeper__text {
    font-size: 16px;
    width: 300px;
    padding-right: 20px;
    padding-left: 70px;
}

.howto-numbers {
    position: relative;
}

.howto-numbers div {
    background-color: #95E1E1;
    padding: 15px 18px;
    border-radius: 60px;
    font-size: 18px;
    color: #fff;

    position: absolute;
}

.online-order h1 {
    padding-top: 70px;
    text-align: center;
}
.online-order-items {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 100px;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
    width: 1400px;
}
.online-order-item {
    width: 22%;
    text-align: center;
    padding: 50px 50px;
}
.online-order-item img {
    padding-bottom: 50px;
    width: 70px;
}
.online-order-item p {
    font-size: 18px;
    font-weight: 200;
}
.online-order {
    margin-bottom: 100px;
    border: solid;
    margin-left: auto;
    margin-right: auto;
    width: 1400px;
    border-color: #fff;
    box-shadow: 0px 10px 10px 15px #b798e080;
}

.product h1 {
    text-align: center;
    margin-top: 80px;
    margin-bottom: 50px;
}

.product-items {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
    width: 1400px;
}

.product-item {
    width: 22%;
    text-align: center;
    padding: 50px 50px;
    
}
.product-item img {
    padding-bottom: 30px;
}
.product-item p {
    font-size: 16px;
}

.contact {
    background-image: url(img/plashka.png);
    background-position: center;
    background-size: cover;
}
.contact h1 {
    text-align: center;
    padding-top: 100px;
    padding-bottom: 60px;
    font-size: 30px;
    font-weight: 300;
}
.contact-subtitle h2 {
    font-size: 25px;
    font-weight: 300;
    padding-bottom: 78px;
}
.contact-info {
    display: flex;
    justify-content: center;
}
.contact-item div {
    display: flex;
}
.contact-item img {
    margin: 0px 30px 40px 0;

}
.contact-item p {
    padding-bottom: 20px;
    font-size: 20px;
}

.contact-item a {
    padding-bottom: 20px;
    font-size: 20px;
    cursor: pointer;
    text-decoration-line: underline;
}

.contact-item {
    padding-bottom: 40px;
}
.contact-img {
    margin-top: 100px;
}

.footer-bar {
    background-color: #6C63FF;
    display: flex;
    align-items: center;
    justify-content: center;
}
.img-logo-footer {
    margin-right: 300px;
    padding-top: 15px;
    padding-bottom: 15px ;
}
.navbar-footer {
    padding-right: 300px;
}
.modal {
    position: fixed;
    z-index: 999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    display: none;
}
.modal .modal-content {
     background-color: aliceblue;
     margin: 15% auto;
     padding: 20px;
     width: 50%;
     z-index: 9999;
     border-radius: 4px;
}
.modal .modal-content .close-modal-window {
    color: #b798e0;
    font-size: 40px;
    font-weight: bold;
    cursor: pointer;
}
.modal-inner {
    display: flex;
    justify-content: right;
    margin-bottom: 15px;
}
.modal-content h2 {
    font-size: 30px;
    font-weight: 400;
    text-align: center;
    margin-bottom: 50px;
}
.modal-form input {
    width: 700px;
    height: 60px;
    margin-bottom: 16px;
    border-radius: 4px;
    background-color: #f9f9f9;
    text-align: center;
    font-size: 18px;
}

.form-fields{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

::placeholder {
    color: #7c7c7c;
    font-size: 18px;
    text-align: center;
}

.form-btn {
    display: flex;
    justify-content: center;
}
.form-btn button {
    font-size: 25px;
    color: #fff;
    padding: 10px 0;
    width: 700px;
    margin-top: 20px;
    margin-bottom: 100px;
    background-color: #b798e0;
    cursor: pointer;
}
